#start {
    background-image: url(https://media.self.com/photos/580a7c80567317aa3dc0d7d2/4:3/w_1920,c_limit/registered-dietitians-routine.jpg);
    background-size: cover;
    background-position: center;
    margin-top:4em;
}

.myGreen {
    color: #81C408;
}
.myBgGreen {
    background-color: #81C408;
}
.myOrange {
    color: #FFB524;
}

.myGray {
    color: #747D88;
}

.myBorder {
    border: 1px solid #D5D8DC;
}

.myBgOrange {
    background-color: #FFB524;
}
.myBgGray {
    background-color: #F4F6F8;
}
.myBg {
    background-color: rgb(255, 255, 255, .9);
    padding: 2em;
    border-radius: 1.5em;
    border: 4px solid #FFB524;
    box-shadow: gray 1px 7px 9px;
}

.myBtn {
    background-color: #F4F6F8;
    border-radius: 2em;
    border: none;
    padding: 0.5em 1em;
    margin-right: 1em;
    color: #45595B;
}

.myBtnDetail {
    background-color: #FFB524;
    border-radius: 2em;
    border: none;
    padding: 0.5em 1em;
    color: white;
    transition: 350ms;
    text-decoration: none;
}

.myBtnDetail:hover {
    background-color: #CB911C;
    color: white;
    transition: 350ms;
}

.myBtnDelete {
    background-color: #ED6A5A;
    border-radius: 2em;
    border: none;
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
}

.myBtnDelete:hover {
    background-color: #A2483C;
    color: white;
    transition: 350ms;
}

.qnt {
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #FFB524;
    transition: 350ms;
}

.qnt:focus {
    border-color: #81C408;
    outline: none;
    transition:350ms;
}

.myBtnCart {
    border-radius: 2em;
    border: none;
    padding: 0.5em 1em;
    color: #81C408;
    border: 1px solid #FFB524;
}

.myBtnCart:hover {
    background-color: #FFB524;
    color: white;
    transition: 350ms;
}

.myBtnPur {
    border-radius: 2em;
    border: none;
    padding: 0.5em 1em;
    color: #81C408;
    border: 1px solid #FFB524;
    transition: 350ms;
}

.myBtnPur:hover {
    background-color: #81C408;
    padding: 0.5em 1em;
    color: white;
    transition: 350ms;
}

.myBtnAo{
    border-radius: 2em;
    border: none;
    padding: 0.5em 1em;
    color: #81C408;
    transition: 350ms;
}

.myBtnAo:hover{
    background-color: #FFB524;
    padding: 0.5em 1em;
    color: white;
    transition: 350ms;
}


.myBtn:focus {
    background-color: #FFB524;
    color:white;
    transition: 350ms;
}

.myOlive {
    color: #45595B;
}

.myCard {
    border: 2px solid #FFB524;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    transition: 350ms;
}

.myCard:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 350ms;
    border: 2px solid #81C408;
}

.fab {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
    top: 60px;
    left: 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 48px;
    line-height: 43px;
    text-align: center;
    background: #FFB524;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform 350ms ease-in-out;
}

.fab:hover {
    background: #81C408;
    cursor: pointer;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#frutta {
    margin-top: 5em;
    overflow: hidden;
}

    #frutta img {
        position: relative;
        right: -100%;
        opacity: 0;
        transition: right 3s ease-out, opacity 3s ease-out;
    }

    #frutta.scrolled img {
        right: 0;
        opacity:1;
    }

#verdura {
    margin-top: 5em;
    overflow: hidden;
}

#verdura img {
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 3s ease-out, opacity 3s ease-out;
}

#verdura.scrolled img {
    left: 0;
    opacity: 1;
}

.names{
    position: relative;
    animation: run 15s linear infinite;
    }

@keyframes run {
    0% {
        left: 0%;
        transform: translateX(-100%)
    }

    100% {
        left: 100%;
    }
}

#work {
    overflow: hidden;
}

.myCardTwo {
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 220px;
    max-width: 100%;
    border: 2px solid #FFB524;
    border-radius:1.2em;
    transition: 350ms;
}

.myCardTwo img{
    border-radius: 50%;
}

.myCardTwo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 350ms;
    border: 2px solid #81C408;
    transform: scale(1.2);
}

.names:hover .myCardTwo:not(:hover) {
    transform: scale(0.80);
    transition: 350ms;
}


.fixed-img {
    width: 100%;
    height: 200px; /* Altezza fissa, puoi cambiare questo valore a seconda delle tue necessità */
    object-fit: cover; /* Mantiene le proporzioni e ritaglia l'immagine se necessario */
}


