@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

nav a:hover {
    color: #FFB524 !important;
}

body {
  margin-bottom: 60px;
}

.myGreen {
    color: #81C408;
}

.myOlive {
    color: #45595B;
}

.myOrange {
    color: #FFB524;
}

#gusta {
    transition: color 0.3s ease; /* Aggiungi la transizione qui */
}