@model BW_ECOMMERCE.Models.Prodotto

@{
    ViewData["Title"] = "Crea";
}

<h1>Crea</h1>

<h4>Prodotto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crea">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProdotto" class="control-label"></label>
                <input asp-for="NomeProdotto" class="form-control" />
                <span asp-validation-for="NomeProdotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescBreve" class="control-label"></label>
                <input asp-for="DescBreve" class="form-control" />
                <span asp-validation-for="DescBreve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgProdotto" class="control-label"></label>
                <input asp-for="ImgProdotto" class="form-control" />
                <span asp-validation-for="ImgProdotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataIns" class="control-label"></label>
                <input asp-for="DataIns" class="form-control" />
                <span asp-validation-for="DataIns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodProd" class="control-label"></label>
                <input asp-for="CodProd" class="form-control" />
                <span asp-validation-for="CodProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
